@{
    ViewData["Title"] = "Confirmação apagar o contato";
}

<br />

<div class="text-center">
    <h3>Realmente deseja apagar o contato (nome)?</h3>
</div>

<br />

<div class="text-center">
    <a class="btn btn-primary" role="button" asp-controller="Contato" asp-action="Index">Cancelar Exclusão</a>
    <a class="btn btn-danger" role="button">Confirmar Exclusão</a>
</div>
